$alert-colors: (
  "default": $primary,
  "success": $success,
  "warning": $warning,
  "danger": $danger,
);

.min-alert {
  padding: $alert-padding-y $alert-padding-x;
  margin-bottom: $alert-margin-bottom;
  border: $alert-border-width solid transparent;
  border-radius: $alert-border-radius;
  width: 50%;
  margin: 0 auto;

  .min-alert-top {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  .min-alert-close {
    text-align: right;
    color: inherit;
    cursor: pointer;
  }

  .bold-title {
    font-weight: $font-weight-bold;
  }

  .min-alert-desc {
    font-size: $alert-description-font-size;
    margin: $alert-description-top-margin 0 0;
  }
}

@each $color, $value in $alert-colors {
  .min-alert-#{$color} {
    @include alert-style($value, darken($value, 5%), $white);
  }
}